{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>员工添加</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />

</head>
<body>
<script rel="script" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script rel="script" src="{% static 'plugins/bootstrap-3.3.7-dist/js/bootstrap.js'%}"></script>
<!-- 引入jQuery库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 引入Select2库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.min.js"></script>
<!-- 导航栏 -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Employee Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/dep_list/">员工管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- 主体部分 -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                员工添加
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
              {% csrf_token %}
                <div class="form-group">
                    <label for="dep_name" class="col-sm-2 control-label">员工名称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="请输入员工名称 Please Input EmployeeName" >
                    </div>
                    </div>
                 <div class="form-group">
                     <label for="dep_name" class="col-sm-2 control-label">员工密码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="emp_passsword" name="emp_password" placeholder="请输入员工密码 Please Input EmployeePassword">
                    </div>
                 </div>
                 <div class="form-group">
                     <label for="dep_name" class="col-sm-2 control-label">员工年龄</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="emp_age" name="age" placeholder="请输入员工年龄 Please Input EmployeeAge">
                    </div>
                 </div>
                 <div class="form-group">
                     <label for="dep_name" class="col-sm-2 control-label">员工余额</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="dep_name" name="account" placeholder="请输入员工名称 Please Input EmployeeAccount">
                    </div>
                </div>
                 <div class="form-group">
                     <label for="dep_name" class="col-sm-2 control-label">入职时间</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="emp_create_time" name="create_time" placeholder="请输入员工名称 Please Input EmployeeempCreateTime">
                    </div>
                </div>
                 <div class="form-group">
                     <label for="gender" class="col-sm-2 control-label">性别：</label>
                    <div class="col-sm-8">

                        <select class="select2" name="gender" id="gender" style="width:100px">
                            {% for choice in choices %}
                       <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                       {% endfor %}
                        </select>
                    </div>
                </div>
                 <div class="form-group">
                     <label for="dep_name" class="col-sm-2 control-label">所属部门</label>
                     <div class="col-sm-8">
                    <select class="select2" name="department" id="department" style="width:100px">
      {% for department in departments %}
        <option value="{{ department.id }}">{{ department.dep_name }}</option>
      {% endfor %}
    </select>
                     </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">添 加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
    $('.select2').select2({
      placeholder: "请选择",
      allowClear: true,
      minimumResultsForSearch: Infinity
    });
  });
</script>
<!--<script rel="script" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script rel="script" src="{% static 'plugins/bootstrap-3.3.7-dist/js/bootstrap.js'}"></script>-->
</body>
</html>
